.header {
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: #F2F2F2;
  align-items: center;
  margin-bottom: 2rem;

  .nav {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}